.Container {
    width: 100%;
}

.Header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: #2e9bef;
}

.Header h2 {
    margin: 0;
    color: #ffffff;
}

.ContentWrapper{
    padding: 20px;
}